USE [master]
GO
/****** Object:  Database [Grocery_Management]    Script Date: 15/12/2022 22:40:01 ******/
CREATE DATABASE [Grocery_Management]
GO
USE [Grocery_Management]
GO
/****** Object:  UserDefinedFunction [dbo].[ch_exist]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ch_exist](@name char(10))
returns INT
as
begin
if exists(select Uname from NHANVIEN where Uname = @name)
	begin 
		return 1
	end 
return 0
end
GO
/****** Object:  UserDefinedFunction [dbo].[ch_exist2]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ch_exist2](@name char(10))
returns INT
as
begin
if exists(select MASP from SANPHAM where MASP = @name)
	begin 
		return 1
	end 
return 0
end
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[SOHD] [int] NOT NULL,
	[MASP] [varchar](5) NOT NULL,
	[SL] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] NOT NULL,
	[NGHD] [smalldatetime] NOT NULL,
	[MAKH] [varchar](5) NULL,
	[MANV] [char](5) NOT NULL,
	[TRIGIA] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](5) NOT NULL,
	[HOTEN] [varchar](40) NOT NULL,
	[DIACHI] [varchar](50) NOT NULL,
	[SODT] [varchar](10) NOT NULL,
	[CMND] [varchar](12) NOT NULL,
	[DOANHSO] [money] NULL,
	[NGDK] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[Uname] [char](5) NOT NULL,
	[Pword] [varchar](15) NOT NULL,
	[Fname] [varchar](50) NOT NULL,
	[ID] [varchar](12) NOT NULL,
	[Aress] [varchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Luong] [money] NOT NULL,
	[Photo] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Uname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phanquyen]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phanquyen](
	[tendangnhap] [varchar](10) NOT NULL,
	[matkhau] [varchar](10) NULL,
	[tennhanvien] [varchar](50) NULL,
	[quyen] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](5) NOT NULL,
	[TENSP] [varchar](50) NOT NULL,
	[GIA] [money] NOT NULL,
	[NUOCSX] [varchar](40) NOT NULL,
	[Photo] [image] NULL,
	[SOLUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PER_DETAIL]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PER_DETAIL](
	[ID_PER_DETAIL] [varchar](5) NOT NULL,
	[NAME_ACTION] [varchar](10) NOT NULL,
	[CODE_ACTION] [varchar](10) NOT NULL,
	[ID_PER] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PER_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERMISSION]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERMISSION](
	[ID_PER] [varchar](5) NOT NULL,
	[NAM_PER] [varchar](20) NOT NULL,
	[PER_DES] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_RELATIONSHIP]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_RELATIONSHIP](
	[ID_REL] [varchar](5) NOT NULL,
	[ID_USER] [varchar](5) NOT NULL,
	[ID_PER] [varchar](5) NOT NULL,
	[suspended] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_REL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 15/12/2022 22:40:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[Id_USER] [varchar](5) NOT NULL,
	[User_names] [varchar](20) NOT NULL,
	[Pass] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_USER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'GD001', 10)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'GD002', 5)
INSERT [dbo].[CTHD] ([SOHD], [MASP], [SL]) VALUES (1001, N'GD003', 5)
GO
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1001, CAST(N'2021-01-03T00:00:00' AS SmallDateTime), N'KH01', N'ST001', 3490150.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1002, CAST(N'2021-01-12T00:00:00' AS SmallDateTime), N'KH01', N'ST002', 9600000.0000)
INSERT [dbo].[HOADON] ([SOHD], [NGHD], [MAKH], [MANV], [TRIGIA]) VALUES (1003, CAST(N'2021-01-23T00:00:00' AS SmallDateTime), N'KH02', N'ST001', 8250000.0000)
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SODT], [CMND], [DOANHSO], [NGDK]) VALUES (N'KH01', N'Nguyen Van A', N'731, Tran Hung Dao, Q5, TPHCM', N'0382345190', N'695049286571', 48232150.0000, CAST(N'2020-07-22T00:00:00' AS SmallDateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SODT], [CMND], [DOANHSO], [NGDK]) VALUES (N'KH02', N'tran ba thien', N'23/5 Nguyen Trai, Q5, TpHCM', N'0308256478', N'486902938758', 9100000.0000, CAST(N'2020-07-30T00:00:00' AS SmallDateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SODT], [CMND], [DOANHSO], [NGDK]) VALUES (N'KH08', N'nguyen thanh r', N'45/2 An Duong Vuong, Q5, TPHCM', N'0338435756', N'100154321971', 1750000.0000, CAST(N'2020-12-13T00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[Phanquyen] ([tendangnhap], [matkhau], [tennhanvien], [quyen]) VALUES (N'1', N'1', N'1', N'Admin')
INSERT [dbo].[Phanquyen] ([tendangnhap], [matkhau], [tennhanvien], [quyen]) VALUES (N'ST002', N'1', N'nguyen van b', N'Staff')
INSERT [dbo].[Phanquyen] ([tendangnhap], [matkhau], [tennhanvien], [quyen]) VALUES (N'ST003', N'2', N'do van nam', N'Staff')
GO
ALTER TABLE [dbo].[CTHD]  WITH NOCHECK ADD  CONSTRAINT [FK_SOHD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHD] NOCHECK CONSTRAINT [FK_SOHD]
GO
ALTER TABLE [dbo].[TBL_PER_DETAIL]  WITH CHECK ADD FOREIGN KEY([ID_PER])
REFERENCES [dbo].[TBL_PERMISSION] ([ID_PER])
GO
ALTER TABLE [dbo].[TBL_RELATIONSHIP]  WITH CHECK ADD FOREIGN KEY([ID_PER])
REFERENCES [dbo].[TBL_PERMISSION] ([ID_PER])
GO
ALTER TABLE [dbo].[TBL_RELATIONSHIP]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[TBL_USER] ([Id_USER])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CMND_count] CHECK  ((len([CMND])=(12)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CMND_count]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [SDT_count] CHECK  ((len([SODT])=(10)))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [SDT_count]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [id_count] CHECK  ((len([ID])=(12)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [id_count]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [phone_count] CHECK  ((len([Phone])=(10)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [phone_count]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [uname_count] CHECK  ((len([Uname])=(5)))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [uname_count]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_GIA] CHECK  (([gia]>=(1000)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_GIA]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_MASP] CHECK  ((left([MASP],(2))='MP' OR left([MASP],(2))='TP' OR left([MASP],(2))='GD'))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_MASP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK_MASP_len] CHECK  ((len([MASP])=(5)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK_MASP_len]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [SL_CHECK] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [SL_CHECK]
GO
USE [master]
GO
